worker_processes 1;

events {
    worker_connections 1024;
}

http {
    include              mime.types;
    default_type         application/json;
    sendfile             on;
    keepalive_timeout    65;
    client_max_body_size 8M;

    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;

    limit_req_zone $binary_remote_addr zone=req_limit_per_ip:10m rate=10r/s;
    limit_req_status 429;

    upstream graphql_backend {
        server graphql-gateway:4000;
    }

    upstream notification_backend {
        server notification:6000;
    }

    upstream payment_backend {
        server payment:7000;
    }

	upstream main_backend {
		server mainserver:3000
	}

    server {
        listen 80;
        server_name localhost;

        location /graphql/ {
            gzip on;
            gzip_vary on;
            gzip_comp_level 5;
			gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

            limit_req zone=req_limit_per_ip;

            proxy_pass http://graphql_backend;
            proxy_http_version 1.1;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_cache STATIC;
            proxy_cache_valid 200 1h;
        }

        location /notification/ {
            gzip on;
            gzip_vary on;
            gzip_comp_level 5;
			gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

            limit_req zone=req_limit_per_ip;

            proxy_pass http://notification_backend;
            proxy_http_version 1.1;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_cache STATIC;
            proxy_cache_valid 200 1h;
        }

        location /payment/ {
            gzip on;
            gzip_vary on;
            gzip_comp_level 5;
			gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

            limit_req zone=req_limit_per_ip;

            proxy_pass http://payment_backend;
            proxy_http_version 1.1;

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_cache STATIC;
            proxy_cache_valid 200 1h;
        }

        location / {
            return 404;
        }
    }
}
